.Container {
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* position: relative; */
  /* margin-right: 30px; */
  max-width: 1200px;
  flex-wrap: wrap;
  /* overflow-x: scroll; */
}

.Container_1 {
  width: 100%;
  display: none;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card_2 {
  padding-right: 8px;
  margin-bottom: 20px;
}
.rec.rec-arrow {
  visibility: hidden;
}

@media only screen and(max-width:"600px") {
  .Container {
    padding: 0;
    flex-wrap: wrap;
  }
}
